.col-example {
  background: #EEE;
  color: #333;
  border: 2px solid #333;
  padding: 5px;
  box-sizing: border-box; /* pokud už to tam teda nemáš */
}

.container-example{
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
  float:none;
  overflow: auto;
  width: 1150px;   
  box-sizing: border-box;  
  -moz-box-sizing: border-box;
  background: rgb(51,153,255);
}

.container-fluid-example{
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  float:none;
  width: 100%;
  box-sizing: border-box;  
  -moz-box-sizing: border-box;
  background: rgb(0,255,255);
  
}